<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div>
  <app-navbar></app-navbar>
</div>


<div class="navbartohomebanner"></div>


  <div >
    <img style="margin-top:1%;margin-bottom:1%;"  src="assets/{{singlearticlecontent.Content.Img1}}" alt="Card image" class="desktop600 homebannerimg">
    <img style="margin-top:1%;margin-bottom:1%;"  src="assets/{{singlearticlecontent.Content.Img1}}" alt="Card image" class="mobile600 homebannerimgmobile">
  </div>


<div class="homesmallwording">
  <div class="widthofleftrightborder" style="margin-top: -1%">
    <p>Home / News / <span style="color: #fabb7c">{{singlearticlecontent.Title}}</span> </p>
  </div>
</div>


<!--文章的信息-->
<div class="mainsection">
  <div class="titlecontent">
      {{singlearticlecontent.Subtitle}}
  </div>
  <div class="monthyear">
    {{singlearticlecontent.Month}}, {{singlearticlecontent.Year}}
  </div>
  <br>
  <hr style="border: 1px solid lightgrey">
  <br>

<!--  <div>-->
<!--    <img src="assets/{{singlearticlecontent.Content.Img2}}" align="right" width="35%" hspace="5" vspace="5"  style="margin-left: 30px"/>-->
<!--    <div class="contentp2">{{singlearticlecontent.Content.P2}}</div>-->
<!--  </div>-->




  <div>
  <img src="assets/{{singlearticlecontent.Content.Img2}}" align="right" hspace="5" vspace="5" class="contentimg" />
  <div *ngFor="let key of objectKeys(singlearticlecontent.Content)" class="contentp2">
    <!--{{key}}-->
    <p  *ngIf="key.toString().includes('P')">
      {{singlearticlecontent.Content[key]}}
    </p>
  </div>
  </div>

</div>


<!--&lt;!&ndash;上一条新闻&ndash;&gt;-->
<!--<div class="row" style="text-align: center">-->

<!--  <div class="col-md-12" id="">-->

<!--    <button (click)="previouspage()" style="margin-top: 20px;margin-bottom: 20px;" type="button" class="btn btn-outline-success col-7">-->
<!--      上一篇：{{previousarticlecontent.Title}}-->
<!--    </button>-->

<!--    <button (click)="nextpage()" style="margin-bottom: 20px;" type="button" class="btn btn-outline-success col-7">-->
<!--      下一篇：{{nextarticlecontent.Title}}-->
<!--    </button>-->


<!--  </div>-->

<!--</div>-->
<br>
<br>
<br>
<br>
<app-footer></app-footer>

