<app-navbar></app-navbar>

<div style="height: 100px"></div>
<!--图片-->
<div class="card  text-white text-center row " id="yuanqudongtaiimage">
  <div class="card-img-overlay" style="position: absolute;top: 320px;text-align: center;">
    <div class="row" >

      <div class="col-md-12" id="toppagebutton" >

        <a [routerLink]="['/news/yuanqudongtai']" class="visit" >
          <button type="button" class="btn btn-outline yuanqudontai" >
            园区动态
          </button>
        </a>

        <a [routerLink]="['/news/yuanqugushi']" class="visit">
          <button type="button" class="btn btn-outline yuanqudontai">
            园区故事
          </button>
        </a>
      </div>

    </div>
  </div>
</div>

<!--文章的信息-->
<div class="row" style="text-align: center">
  <!--标题，作者，时间部分-->
  <div class="col-md-12" style="margin-top: 30px;margin-bottom: 30px;">
    <h5 style="color: green">【{{singlearticlecontent.Type}}】{{singlearticlecontent.Title}}
    </h5>
    <p style="color: lightgray">原创 作者-{{singlearticlecontent.Author}} {{singlearticlecontent.Date}}
    </p>
    <hr>
  </div>
  <!--正文部分-->
  <div class="col-md-12" *ngFor="let key of objectKeys(singlearticlecontent.Content)">
    <!--{{key}}-->
    <p style="text-indent:2em;margin-left: 15%;margin-right: 15%;margin-top:1%;margin-bottom:1%; text-align: left;" *ngIf="key.toString().includes('P')">
      {{singlearticlecontent.Content[key]}}
    </p>


    <img *ngIf="key.toString().includes('I')" style="margin-top:1%;margin-bottom:1%;" class="row-cols-sm-3 col-6" src="assets/{{singlearticlecontent.Content[key]}}" alt="Card image">
  </div>

</div>

<!--上一条新闻-->
<div class="row" style="text-align: center">

  <div class="col-md-12" id="">

    <button (click)="previouspage()" style="margin-top: 20px;margin-bottom: 20px;" type="button" class="btn btn-outline-success col-7">
      上一篇：{{previousarticlecontent.Title}}
    </button>

    <button (click)="nextpage()" style="margin-bottom: 20px;" type="button" class="btn btn-outline-success col-7">
      下一篇：{{nextarticlecontent.Title}}
    </button>


  </div>

</div>



