<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div>
  <app-navbar></app-navbar>
</div>

<div class="navbartohomebanner"></div>

<div>
  <img src="../../assets/About_us/About_us_banner_img.jpg" class="desktop600 homebannerimg">
  <img src="../../assets/About_us/About_us_banner_mobile.jpg" class="mobile600 homebannerimgmobile">
</div>

<div class="homesmallwording">
  <div class="widthofleftrightborder">
    <p>Home / <span class="learningresourcesorangeword">About us</span></p>
  </div>
</div>

<div class="aboutGRPbody " style="margin: auto">
  <h1>About GRP</h1>
  <p>
    Originating from Guangzhou Railway Mechanical School, which was built in May 1974, and affiliated to Guangzhou
    Railway (Group) Corporation (today’s China Railway Guangzhou Group, abbreviated as Guangzhou Railway),Guangzhou
    Railway Polytechnic (GRP) was officially founded in 2000 upon approval. In September 2004, the People’s Government
    of Guangzhou Municipality took over the administration over the GRP.
  </p>
  <br>
  <p>GRP focuses on students’ employment and delivers fruitful results. It recruits students from 20 provinces
    (regions) such as Guangdong, Hunan, Jiangxi, Sichuan, Henan, and Inner Mongolia; graduates can find best-fit jobs.
    The average initial employment rate of graduates is 98.51%, and the average employment counterpart rate is 93.30%.
    The proportion of “Order-based Employment” by regional leading enterprises in rail transit reaches over 65% and the
    satisfaction rate of enterprises reaches 98%. The employment counterpart rate and salary level of graduates are
    among the best in Guangdong province. Xie Dongtian, the winner of the 2012 National May 1st Labor Medal of Shenzhen
    Metro Group Co., Ltd., Wu Huachuang, the winner of the “Locomotives Medal” of the China Railway Guangzhou Group
    Co., Ltd. in 2014, Lai Zetuan, the winner of the “National Railway Model Worker” of the China Railway Guangzhou
    Group Co., Ltd. in 2014, Xu Zhibiao, the winner of the 2014 National May 1st Labor Medal of the Guangzhou Metro
    Group, and Chen Chengyi, the representative of the 19th National Congress of Fujian Province and the winner of the
    National Model Worker, Hong Haiyang, the craftsman of China Railway and the leader in the New Century National
    Hundred, Thousand, and Ten Thousand Talents Project, and Lin Zhanxiong, the winner of champion in 2019 China
    Vocational Skills Competition are all alumni of our college.
  </p>
  <br>
  <p>GRP adheres to the strategy of internationalization at a higher level. The college is deeply committed to serving
    the national “Belt and Road Initiative” and the strategy of high-speed railway “going global”. With the
    Industry-education Integration Alliance, we have been actively involved in expanding international cooperation
    platform for rail transit by connecting with four regions: the Commonwealth of Independent States, Southeast Asia,
    Africa, and Guangdong-Hong Kong-Macao Greater Bay Area. With the approval of the Education Bureau of Guangdong
    Province, GRP signed a cooperation agreement with the Belarusian State University of Transport to co-offer the
    Railway Traffic Operation and Management Program (a full-time higher vocational training program). In addition,
    GRP has officially enrolled overseas students from Laos, Malaysia and other countries, taking the lead among
    vocational colleges administered by Guangzhou Municipal Government for teaching full-time overseas students.
  </p>
  <br>
  <p>
    GRP insists on moral education and achieves remarkable results. Under the guidance of Xi Jinping’s Thought on
    Socialism with Chinese Characteristics for a New Era, GRP will persist on the path of putting moral education
    at its core. With the orientation of “relying on the industry, taking root in Guangzhou, influencing the country
    and facing the world”, and the philosophy of “lifting the school to a new high by valuing quality, talents,
    uniqueness and culture”, GRP follows the 2035 Education Modernization Plan and contributes to the upgrading of
    national rail transit industry and the development of Guangdong-Hong Kong-Macao Greater Bay Area. It aims to build
    the modern vocational education system that equally values academic education and vocational training by improving
    its internal management system, deepening the reform on grooming inter-disciplinary technical talents by means of
    industry-education integration, and developing an array of programs that feature a lead by specialized programs,
    a support from key disciplines and coordinated development between them, all of which will constitute a high-quality
    technical talent training system characterized with work-integrated learning and the combination of action and
    knowledge. GRP will continue to strive for building a high-level vocational college with Chinese characteristics
    and fair international influence.
  </p>


  <hr style="border: 2px solid orange;margin-top: 60px;margin-bottom: 60px">


</div>


<div class="aboutGRPbody  desktop600" style="margin: auto">
  <h1>Photo Gallery</h1>
  <div class="row photogallery">
      <img class="galleryimg galleryimg1_" src="../../assets/About_us/football.jpg">
      <img class="galleryimg" src="../../assets/About_us/adriver.jpg">
      <img class="galleryimg" src="../../assets/About_us/fourforeigners.jpg">
      <img class="galleryimg" src="../../assets/About_us/achineseandaforeigner.jpg">

    <img class="galleryimg galleryimg2_ galleryimg1_" src="../../assets/About_us/whitebuilding.jpg">
    <img class="galleryimg galleryimg2_2 " src="../../assets/About_us/fourgirls.jpg">
    <img class="galleryimg galleryimg2_ " src="../../assets/About_us/amanwithvr.jpg">
    <img class="galleryimg galleryimg2_2 " src="../../assets/About_us/manymanypeople.jpg">

    <img class="galleryimg galleryimg3_ galleryimg1_" src="../../assets/About_us/hezhaoblue.jpg">
    <img class="galleryimg galleryimg3_2 galleryimg3_" src="../../assets/About_us/railwayhead.jpg">
    <img class="galleryimg  galleryimg2_3" src="../../assets/About_us/goat.jpg">
    <img class="galleryimg  galleryimg3_4" src="../../assets/About_us/amanpresentation.jpg">

    <img class="galleryimg galleryimg4_ galleryimg1_ " src="../../assets/About_us/threeforeigners.jpg">
  </div>
  <div>
    <img src="../../assets/About_us/mapbackground.jpg" width="100%">
  </div>

</div>


<div class="photogallery mobile600" style="margin: auto">
  <h1>Photo Gallery</h1>
  <div class="photogallery">
    <img class="galleryimg" src="../../assets/About_us/football.jpg">
    <img class="galleryimg" src="../../assets/About_us/whitebuilding.jpg">
    <img class="galleryimg" src="../../assets/About_us/hezhaoblue.jpg">
    <img class="galleryimg" src="../../assets/About_us/threeforeigners.jpg">
    <img class="galleryimg" src="../../assets/About_us/adriver.jpg">

<!--    <a (click)="showmorebtn()" [hidden]="showmore">+ Show more</a>-->
<!--    <a (click)="showmorebtn()" [hidden]="!showmore">- Show less</a>-->
  </div>

  <div [hidden]="!showmore" style="margin: auto" class="photogallery">
    <img class="galleryimg" src="../../assets/About_us/fourforeigners.jpg">
    <img class="galleryimg" src="../../assets/About_us/achineseandaforeigner.jpg">
    <img class="galleryimg" src="../../assets/About_us/fourgirls.jpg">
    <img class="galleryimg" src="../../assets/About_us/amanwithvr.jpg">
    <img class="galleryimg" src="../../assets/About_us/manymanypeople.jpg">
    <img class="galleryimg" src="../../assets/About_us/railwayhead.jpg">
    <img class="galleryimg" src="../../assets/About_us/goat.jpg">
    <img class="galleryimg" src="../../assets/About_us/amanpresentation.jpg">
  </div>


  <button (click)="showmorebtn()" class="showmorebtn" [hidden]="showmore">
    + Show more
    <hr>
  </button>
  <button (click)="showmorebtn()" class="showmorebtn" [hidden]="!showmore">
    - Show less
  <hr>
  </button>
</div>

<div class=" footertopheight"></div>
<app-footer></app-footer>
