/*English 中文*/
.englishchinesebackground{
  background-color: #293670;
  padding-left: 0;
}
.maxwidthforenglishchiniese{
  max-width: 1200px;
  margin: auto;
}
.englishchinesewordings{
  text-align: right;color: white;
  padding-top: 5px;padding-bottom: 5px;
  margin-right: 20px;
}
.englishchinesewordings a{
  font-size: 10px;color: white;
  padding-left: 5px;padding-right: 5px;
}

/*navbar*/

.navitems{
  margin-left: 25px;
  font-family: 'Open Sans', sans-serif;
}


.abc{
  font-family: 'Open Sans', sans-serif;
  /*font-weight: bold;*/
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  margin-top: 0;
  padding-top: 15px;
  margin-bottom: 0;
  padding-bottom: 15px;
}
.abc:hover {
  text-decoration: none; background-color: #c7d5ef; outline: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar-fixed-top{
  position: fixed;
  width: 100%;  top: 0; padding: 10px 0; transition: .5s ease-in-out;
  background-color:white;
}
.abc a{
  color: black;
}

@media screen and (min-width: 1250px) {
  .navbarwholeborder{
    max-width:1200px;margin:auto;margin-top:10px;padding-bottom:0
  }
  .navbar-ex1-collapse{
    position: absolute;right: 0;margin-top: 20px;
  }
  .desktopnavbar1{
    margin-left: 20px;
  }
  .nav-link{
    color: navy;
    font-size: 18px;
  }
}


@media screen and (max-width: 1250px) and (min-width: 991px) {
  .navbarwholeborder {
    /*max-width: 1100px;*/
    margin: auto;
    margin-top: 10px;
    padding-bottom: 0
  }
  .abc{
    padding-right: 0;padding-left: 0;margin-left:20px
  }

  .navbar-ex1-collapse {
    position: absolute;
    right: 0;
    margin-top: 20px;
  }
  .desktopnavbar1{
    /*margin-left: 220px;*/
    width: 100%;
  }
  .rowindesktopnavbar1{
    text-align: right;
    float: right;
    margin-right: 8px;
    }
  .nav-link{
    color: navy;
    font-size: 16px;
  }
}
@media screen and (max-width: 1000px) and (min-width: 991px) {
  .nav-link{
    color: navy;
    font-size: 15px;
  }
}

@media screen and (max-width: 991px) {
  .navbarwholeborder{
    width: 80%;
    margin: auto;
  }
  .abc{
    margin-left: 10px;
    padding-left: 0;
  }
  .abc a{
    text-align: left;
  }
  .abcfaqs{
    margin-top:80px;
  }

  .dropdown-menu{
    background: white;
  }
  .abc:hover {
    background-color: white;
  }
  .navbar-toggler{
    position: absolute;
    top:40px;
  }
  .navbar-brand{
    position:absolute;left:30%;top:10px
  }
  .navbar-toggler{
    width: 47px;
    height: 34px;
    background-color: white;
    border:none;
  }
  .navbar-toggler .line{
    width: 100%;
    float: left;
    height: 3px;
    background-color: rgb(0,113,186);
    margin-bottom: 5px;
  }
  .nav-link{
    color: navy;
    font-size: 18px;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px){
  .navbar-ex1-collapse {
    margin-top: 120px;
  }
  .navbarwholeborder{
    width: 94%;
  }
  .navbar-nav{
    padding-right: 5%;
    width: 100%;
  }
  .abcfaqs{
    margin-top: 0;
  }

  .abc{
    text-align: center;
    margin-left: 4%;
  }
  .desktopnavbar1{
    margin-top: 100px;
  }
}
@media screen and (min-width: 768px){
  .navbar-toggler{
    display: none;
  }
}

@media screen and (max-width: 926px) and (min-width: 852px){
  .abc{
    text-align: center;
    margin-left: 3%;
  }
}
@media screen and (max-width: 852px) and (min-width: 768px){
  .abc{
    text-align: center;
    margin-left: 2%;
  }
}
@media screen and (max-width: 800px) and (min-width: 768px){
  .abc{
    text-align: center;
    margin-left: 2%;
  }
  .navbarwholeborder{
    width: 100%;
  }
}

.dark-blue-text{
  color: rgb(0,113,186);
}
.z-depth-1{
  width: 25%;
  margin-top: -20px;
}
.z-depth-2{
  width: 50%;
  margin-top: -20px;
}
@media screen and (min-width: 768px){
  .mobilenavbar{
    display: none;
  }
}
@media screen and (max-width: 768px){
  .desktopnavbar{
    display: none;
  }

  .navbar-brand{
    left: 30px;
  }
  .navbar-brand{
    width: 100%;
  }
  .z-depth-1{
    width: 120px;
  }
  .z-depth-2{
    width: 220px;
  }
  .navbar-toggler1{
    width: 47px;
    height: 34px;
    background-color:#293670;
    border:none;
    margin-left: 50px;
  }
  .navbar-toggler1 .line{
    width: 50px;
    float: left;
    height: 3px;
    background-color: white;
    margin-bottom: 15px;
    outline: navy;
  }
  .navbar-header{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .english-chinese{
    color: white;
  }
  .mobileenglishchinese{
    position:absolute;top: 120px;color:#fff;right: 20px;
  }
  .englishchinesewordings a{
    font-size: 20px;
  }
  .englishchinesewordings{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .abcfaqs{
    margin-top: 10px;
  }
  .abc{
    color: white;
    text-align: left;
    margin-left: 20px;
    font-size: 18px;
  }
  .abc a{
    color: white;
    margin-left: 40px;
  }
  .mobilenavbarbackground{
    margin-top: 120px;
  }
}

@media screen and (max-width: 400px){
  .z-depth-1{
    width: 80px;
  }
  .z-depth-2{
    width: 180px;
  }
  .mobilenavbarbackground{
    margin-top: 100px;
  }
  .englishchinesewordings{
    padding-top: 6px;
    padding-bottom: 10px;
  }
  .navbar-toggler1{
    margin-left: 40px;
  }
  .navbar-toggler1 .line {
    width: 40px;
  }
  .englishchinesewordings a{
    font-size: 15px;
  }
  .navbar-toggler1 .line{
    margin-bottom: 12px;
  }
  .navbar-header{
   padding-top: 18px;
    padding-bottom: 10px;
  }
}
