.navbartohomebanner{
  height: 150px;
}
.homebannerimg{
  display: block;
  margin:auto;
  width: 1180px;
}
.mainsection{
  width: 1180px;
  margin: auto;
}
.homesmallwording{
  width: 100%;
  background-color: #f4f5fc;
}
.learningresourcesorangeword{
  color: #fabb7c;
}
.widthofleftrightborder{
  width: 1180px;
  margin: auto;
}
.widthofleftrightborder p{
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.categorileft{
  width: 15%;
}
.mainresources{
  width: 80%;
  padding-left: 5%;
}
.mainresources h1{
  padding-left: 0;
  margin-top: 40px;
}

@media screen and (max-width: 1250px) {
  .homebannerimg {
    width: 90%;
  }
  .widthofleftrightborder {
    width: 90%
  }
}
@media screen and (max-width: 768px) {
  .navbartohomebanner{
    height: 215px;
  }
  .desktop600{
    display: none;
  }
  .mobile600{
    width: 100%;
  }
  .homebannerimg{
    width: 100%;
  }
  .widthofleftrightborder {
    width: 100%
  }
}

@media screen and (min-width: 769px) {
  .mobile600{
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .homebannerimg {
    width: 100%;
  }
  .widthofleftrightborder {
    width: 100%
  }
  .homebannerimgmobile{
    display: block;
    margin:auto;
    width: 100%;
  }
}
