<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>-->
<div>
  <app-navbar></app-navbar>
</div>

<div class="navbartohomebanner"></div>

<div>
  <img src="../../assets/learning_resources/desktopbanner.jpg" class="desktop600 homebannerimg">
  <img src="../../assets/learning_resources/mobilebanner.jpg" class="mobile600 homebannerimgmobile">
</div>

<div class="homesmallwording">
  <div class="widthofleftrightborder">
    <p>Home / <span class="learningresourcesorangeword">Learning Resources</span></p>
  </div>
</div>

<div class="mobile600" style="background-color: #fee6cf;margin-top: -10px">

  <div class="widthofleftrightborder" style="padding-top: 10px;padding-bottom: 10px" (click)="showmoreoflibraryresources()">

    <span class="glyphicon glyphicon-menu-down" style="font-size: 15px;" [hidden]="showmoreinlibraryresources"></span>
    <span class="glyphicon glyphicon-menu-up" style="font-size: 15px;" [hidden]="!showmoreinlibraryresources"></span>
    <span style="margin-left: 10px">Library Resources</span>
  </div>
  <div class="widthofleftrightborder" style="padding-top: 10px;padding-bottom: 10px" [hidden]="!showmoreinlibraryresources">

    <div style="padding-left: 22px">
      About Online Learning
    </div>
    <div style="padding-left: 22px;margin-top: 20px">
      Technical Training Platform
    </div>
  </div>



</div>


<div class="mainsection row" style="margin: auto">
  <div class="categorileft desktop600">
    <div class="leftsideword" id="aboutonlinelearning">
      About Online Learning
    </div>
    <hr class="lineinleftside">
    <div class="leftsideword" id="libraryresources" (click)="chooselibraryresources()">
      Library Resources
    </div>
    <hr class="lineinleftside">
    <div class="leftsideword" id="technicaltrainingplatform">
      Technical Training Platform
    </div>
    <hr>
  </div>






  <div class="mainresources">
    <h1>Library Resources</h1>


    <!--新闻板块1-->
    <div class="desktopversion" (click)="onClickMe(id)" *ngFor="let article of articleListpage;let id = index">
      <!--内容-->
      <div style="margin-top: 20px">
        <h5 class="newstitle">
          {{article.Title}}
        </h5>
        <a class="newscontentp1" style="color: orange">
          {{article.Content.P1}}
        </a>
      </div>
    </div>


    <div class="row pagibuttons">
      <!--    <div class="col-md-12" style="text-align: center;">-->

      <!--      <input type="text" (change)="onChangePage($event.target.value)" placeholder="{{curPage}}" value="{{curPage}}">-->
      <!--      <span> / {{pageNo}} 页</span>-->

      <!--    </div>-->
      <button class="btn paginationbtn" type="button" [disabled]="!preShow" (click)="showPrePage()"> < </button>
      <button class="btn paginationbtn" id="page1_1" (click)="choosePage(1)" [hidden]="!firstload" style="margin-left: 50px;position: absolute;background-color: orange;color: white;border: 2px solid orange">{{1}}</button>

      <div class="desktopversion" *ngFor="let number of pageNoList">
        <button class="btn paginationbtn" id="page{{number}}" (click)="choosePage(number)">{{number}}</button>
      </div>
      <button class="btn paginationbtn" type="button" [disabled]="!nextShow" (click)="showNextPage()"> > </button>
    </div>
  </div>



</div>

<app-footer></app-footer>
