.row{
  margin-left: 0;
  margin-right: 0;
}

.homebannerimg{
  display: block;
  margin:auto;
  width: 1180px;
}
.aboutGRPbody{
  margin:auto;
  width: 1180px;
}
.navbartohomebanner{
  height: 150px;
}

.mainsection {
  width: 100%;
  background-color: #f2f4fb;
}
.homesmallwording{
  width: 100%;
  background-color: #f4f5fc;
}
.learningresourcesorangeword{
  color: #fabb7c;
}
.widthofleftrightborder{
  width: 1180px;
  margin: auto;
}
.photogallery{
  position: absolute;
}
.widthofleftrightborder p{
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.desktopversion{
  margin-left: 0;margin-right: 0;
}
.blockoutline{
  margin-left: 0;margin-right: 0;margin-top: 80px;
}
.wordingofarticles{
  margin-left: 0;margin-right: 0;
}
.imagepart{
  width: 33%;
}
.wordingofarticles{
  width: 65%;
  margin-left: 2%;
}
.newstime{
  color: grey;
  font-size: 22px;
  padding-top: 0;
  line-height: 30px;
}
.newscontent{
  color: #1d1c3c;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
}
.morebutton{
  color: #f58a2e;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 2px solid #f58a2e;
  background-color: transparent;
  font-size: 18px;
}

.paginationbtn{
  border:2px solid lightgrey;color: #f58a2e;margin-left: 10px;background-color: white;
  border-radius: 0;font-weight: 600;font-size: 15px;width: 30px;height: 30px;padding-top: 2px;padding-left: 10px;
}
.paginationbtn:hover{
  border: 2px solid #f58a2e;color: #f58a2e;
}
.paginationbtn:disabled{
  background-color: whitesmoke;
}
.newstitle{
  text-align: left;color: #15103d;font-size: 18px;font-weight: 600;margin-top: 40px
}
.newscontentp1{
  color: orange;font-size: 15px;font-weight: 600;border-bottom: 1px solid orange;padding-bottom: 5px;
}
.pagibuttons{
  margin:auto;margin-top: 60px;margin-bottom: 100px;margin-left: 0;
}
@media screen and (max-width: 1250px) {
  .homebannerimg {
    width: 90%;
  }

  .aboutGRPbody {
    width: 90%;
  }

  .photogallery {
    width: 90%;
  }

  .widthofleftrightborder {
    width: 90%
  }

  .mainsection {
    width: 90%;
  }

  .newstime{
    font-size: 18px;
    line-height: 25px;
  }
  .newscontent{
    font-size: 25px;
    line-height: 30px;
  }
}
@media screen and (max-width: 1086px) {
  .newstime{
    font-size: 17px;
    line-height: 20px;
  }
  .newscontent{
    font-size: 22px;
    line-height: 20px;
  }
  .morebutton{
    font-size: 15px;
    margin-top: -20px;
  }
}
@media screen and (max-width: 991px) {
  .newstime{
    font-size: 15px;
    line-height: 20px;
  }
  .newscontent{
    font-size: 20px;
    line-height: 20px;
  }
  .morebutton{
    font-size: 15px;
    margin-top: -20px;
  }
  .navbartohomebanner{
    height: 240px;
  }
}
@media screen and (max-width: 800px) {
  .newstime{
    margin-top: -5px;
  }
  .newscontent{
    font-size: 18px;
    line-height: 20px;
  }
}
@media screen and (min-width: 768px) {
  .mobile600{
    display: none;
  }
}
@media screen and (max-width: 767px) {

  .homebannerimg {
    width: 100%;
  }

  .aboutGRPbody {
    width: 90%;
  }

  .photogallery {
    width: 90%;
  }

  .desktop600 {
    display: none;
  }

  .mobile600 {
    width: 100%;
  }

  .navbartohomebanner {
    height: 215px;
  }

  .widthofleftrightborder {
    width: 90%;
    padding-left: 5%;
  }

  .newstime{
    margin-top: 20px;
    font-size: 25px;
    line-height: 35px;
  }
  .newscontent{
    margin-top: 20px;
    font-size: 40px;
    line-height: 50px;
  }
  .morebutton{
    margin-top: 0;
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
  }
}

@media screen and (max-width: 600px) {
  .navbartohomebanner {
    height: 215px;
  }
  .newstime{
    font-size: 22px;
    line-height: 30px;
  }
  .newscontent{
    margin-top: 20px;
    font-size: 30px;
    line-height: 40px;
  }
  .morebutton{
    margin-top: 0;
    font-weight: 600;
    font-size: 22px;
    line-height: 35px;
  }
}
@media screen and (max-width: 400px) {
  .newstime{
    font-size: 18px;
    line-height: 25px;
  }
  .newscontent{
    font-size: 25px;
    line-height: 35px;
  }
  .morebutton{
    margin-top: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
  }
  .navbartohomebanner {
    height: 175px;
  }
  .blockoutline{
    margin-top: 50px;
  }
}
