<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<app-navbar></app-navbar>
<div style="height: 150px"></div>

<div class="homebanner">
  <img src="../../assets/Home/home-banner.jpg">
</div>

<div class="mainsection" style="margin: auto">
  <div class="threeboxesinmainsection row">
<!--    video  -->
    <div style="width: 44%;height: 400px;margin-top: 40px">
      <video class="video-fluid z-depth-1" width="100%" height="400px"  loop controls muted>
        <source src="../../assets/Home/mov_bbb.mp4" type="video/mp4" />
      </video>
      <>
    </div>

    <div style="width: 3%;">
    </div>
<!--    middle  -->
    <div style="background-color: #293670;width: 25%;height: 400px;margin-top: 40px">
      <img src="../../assets/Home/newsimg.png" width="100%">
      <div style="background-color: white;height: 200px">

      </div>
    </div>

    <div style="width: 3%;">
    </div>
<!--    right  -->
    <div style="background-color: #293670;width: 25%;height: 400px;margin-top: 40px">
      <img src="../../assets/Home/newsimg.png" width="100%">
    </div>
  </div>
</div>

<div style="height: 200px">
</div>
